@page
@model ThankyouModel
@{
    ViewData["Title"] = "Tack!";
}



<div class="container">
	<h1 class="card-title h2-responsive mt-2"><strong>Tack!</strong></h1>
	<!--Subtitle-->
	<p class="mb-4 font-bold">
		Du kommer alldeles strax att få en bekräftelse på att vi har mottagit din förfrågan via e-post eller sms. 
	</p>
	<p>Vi agerar så skyndsamt vi kan för att hantera din ansökan, ärendet kan ta upp till 30 dagar att bearbeta. 
	Så snart vi har hanterat din ansökan får du mer information via e-post eller sms. Om vi skulle behöva komplettering kan vi komma att kontakta dig ytterligare.</p>
	<p>Skulle du ha vidare frågor är du alltid välkommen att kontakta oss via telefon på 08-51 000 000 eller info@insplanet.com</p>


</div>
